*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  list-style: none;
  border: none;
}

body {
  font-family: '微軟正黑體';
  font-weight: normal;
}

// Breakpoint
$breakpoint-sm: 600px;
$breakpoint-md: 960px;
$breakpoint-lg: 1280px;
$breakpoint-xl: 1920px;
$breakpoint-xxl: 2560px;

$VChip: #7ccce8;