*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  list-style: none;
  border: none;
}

body {
  font-family: '微軟正黑體';
  font-weight: normal;
}

// Breakpoint
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;
$breakpoint-xxl: 1400px;

$VChip: #7ccce8;